* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(176, 215, 249);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(0, 0, 255, 0.324);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.258);
    width: 500px;
    gap: 10px;
}

h1 {
    margin-bottom: 14px;
}

input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(0, 81, 255, 0.678);
    transition: background-color 0.3s ease;
    margin: 20px 10px 10px 10px;
}

#containerResposta {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    line-height: 1.6;
    transition: all 0.3s ease-in-out;
}

#containerResposta p {
    margin: 8px 0;
}

#containerResposta strong {
    color: #222;
}